/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  font-family: montserrat, sans-serif;
  background-color: #1c1c28;
}

header {
  background-color: #555870;
  align-items: center;
  display: flex;
}

h1 {
  color: white;
}

h3 {
  color: white;
}

.list-group-item {
  background-color: #9090a7;
  color: white;
}

.list-group-item.active {
  background-color: #3568d4;
  color: white;
  border-color: #6798ff;
}

.card-body {
  background-color: #27293d;
  color: white;
  border-color: #555870;
}

.card {
  background-color: #555870;
  border-color: #555870;
}

.image-container {
  width: 8em;
}

.image {
  width: 60px;
  border: 2px solid;
  height: 60px;
  border-color: #ebeaef;
  background: rgb(87,235,163);
  background: linear-gradient(151deg, rgba(87,235,163,1) 0%, rgba(251,136,3,1) 100%);
}

img {
  height: 100%;
  width: 100%;
}

.modal-content {
  background-color: #1c1c28; 
  color: white;
}

.modal-header {
  background-color: #555870;
  border-bottom: 0px;
}

.modal-footer {
  border-top: 0px;
}

.close {
  color: white;
}

.delete-button {
  position: absolute;
  left: 15px;
}

.input-group-text {
  color: white;
  background-color: #27293d;
  border: 1px solid #555870;
}

.form-control {
  color: white;
  background-color: transparent;
  border: 1px solid #555870;
}

.form-control:focus {
  color: white;
  background-color: transparent;
  border: 1px solid #555870;
  border-color: #6798ff;
}